<%
title = u'2. 行高的处理'
%>
<html>
  <head>
    <title>${title}</title>
    <script type="text/javascript" src="/js/libs/jquery-1.7.1.min.js"></script>
    <link rel="stylesheet" href="/css/libs/bootstrap.min.css">
    <style>
      body { font-size:12px; margin:20px auto; padding:0; width:750px; text-align:center; }
      .canvas { width:595px; padding:10px; margin:20px auto; color:#333333; background-color:#EBF8F9; }
    </style>
  </head>
  <body>
    <h3>${title}</h3>
    <div class="canvas">
      <div style="width:595px;">
        <div style="width:595px;">
          <div style="width:595px;overflow:hidden;">
            <div style="width:197px;float:left;padding-bottom:1000px;margin-bottom:-1000px;">
              豆瓣猜是豆瓣定期推荐给你的好东西，你可以在这里发现新鲜的热点内容、结识同好。
            </div>
            <div style="width:197px;float:left;padding-bottom:1000px;margin-bottom:-1000px;">
              豆瓣猜是豆瓣定期推荐给你的好东西，你可以在这里发现新鲜的热点内容、结识同好。
              豆瓣猜是豆瓣定期推荐给你的好东西，你可以在这里发现新鲜的热点内容、结识同好。
              豆瓣猜是豆瓣定期推荐给你的好东西，你可以在这里发现新鲜的热点内容、结识同好。
              豆瓣猜是豆瓣定期推荐给你的好东西，你可以在这里发现新鲜的热点内容、结识同好。
            </div>
            <div style="width:197px;float:left;padding-bottom:1000px;margin-bottom:-1000px;">
              豆瓣猜是豆瓣定期推荐给你的好东西，你可以在这里发现新鲜的热点内容、结识同好。
              豆瓣猜是豆瓣定期推荐给你的好东西，你可以在这里发现新鲜的热点内容、结识同好。
            </div>
          </div>
          <div style="width:595px;overflow:hidden;">
            <div style="width:197px;float:left;padding-bottom:1000px;margin-bottom:-1000px;">
              豆瓣猜是豆瓣定期推荐给你的好东西，你可以在这里发现新鲜的热点内容、结识同好。
              豆瓣猜是豆瓣定期推荐给你的好东西，你可以在这里发现新鲜的热点内容、结识同好。
              豆瓣猜是豆瓣定期推荐给你的好东西，你可以在这里发现新鲜的热点内容、结识同好。
              豆瓣猜是豆瓣定期推荐给你的好东西，你可以在这里发现新鲜的热点内容、结识同好。
              豆瓣猜是豆瓣定期推荐给你的好东西，你可以在这里发现新鲜的热点内容、结识同好。
            </div>
            <div style="width:197px;float:left;padding-bottom:1000px;margin-bottom:-1000px;">
              豆瓣猜是豆瓣定期推荐给你的好东西，你可以在这里发现新鲜的热点内容、结识同好。
            </div>
            <div style="width:197px;float:left;padding-bottom:1000px;margin-bottom:-1000px;">
              豆瓣猜是豆瓣定期推荐给你的好东西，你可以在这里发现新鲜的热点内容、结识同好。
              豆瓣猜是豆瓣定期推荐给你的好东西，你可以在这里发现新鲜的热点内容、结识同好。
            </div>
          </div>
        </div>
      </div>
    </div>
  </body>
</html>
