<!DOCTYPE html>
<html lang="zh-CN">
<head>
    <meta http-equiv="Content-Type" content="text/html; charset=utf-8">
    <title>${self.title()}</title>
    ${self.more_meta() | n}
    <style type="text/css">${self.css()}</style>
</head>
<body>
  ${self.header()}
  ${self.mbody()}
  ${self.footer()}
  ${self.bottom_script()}
</body>
</html>

<%def name="title()">ZhangChi.de</%def>
<%def name="more_meta()"></%def>
<%def name="css()"></%def>

<%def name="header()">
</%def>

<%def name="mbody()">
</%def>

<%def name="footer()">
</%def>

<%def name="bottom_script()"></%def>
