<!DOCTYPE html>
<html lang="zh-CN">
<head>
    <meta http-equiv="Content-Type" content="text/html; charset=utf-8">
    <title>Happy</title>
    <script type="text/javascript" src="/js/jquery-1.7.1.min.js"></script>
    <script type="text/javascript" src="/js/hd.js"></script>
    <style type="text/css">
      ul { list-style: none }
    </style>
</head>
<body>
  happy list
  <form id="add-form">
    <input id="add-text" type="text" />
    <input id="add-btn" type="submit" />
  </form>
  <ul id="todo-list">
    <li><input type="checkbox" /><label>title</label><a href="#">X</a></li>
  </ul>
  <script type="text/javascript">
  </script>
</body>
</html>
